@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-neutral-900 font-sans;
}

a {
  @apply transition-colors;
}

.container-news {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
